<ion-view title="ECEB - Facility login" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="eCEBFacilityLogin-form3" class="list">
      <ion-list id="eCEBFacilityLogin-list3">
        <label class="item item-input" id="eCEBFacilityLogin-input6">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="eCEBFacilityLogin-input7">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="eCEBIndividualLogin()" id="eCEBFacilityLogin-button8" class="button button-stable button-block">Log in</a>
    </form>
  </ion-content>
</ion-view>