<ion-view title="ECEB" id="page1">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/0YKSEtsfRXSSGMh5wS5i_helpingbabiessurvive.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/zHNLABrQtiKIrhwZz4Vw_3075-HBS0005_lightbox.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="eCEBLogin()" id="eCEB-button1" class="button button-positive button-block">Login</a>
    <a ui-sref="eCEBSignup()" id="eCEB-button2" class="button button-positive button-block">Sign Up</a>
  </ion-content>
</ion-view>