<ion-view title="ECEB - Add baby details" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="eCEBAddBabyDetails-form5" class="list">
      <label class="item item-input" id="eCEBAddBabyDetails-textarea1">
        <span class="input-label">Bed no.</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="eCEBAddBabyDetails-textarea2">
        <span class="input-label">Mother name</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="eCEBAddBabyDetails-textarea3">
        <span class="input-label">Child no.</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="eCEBAddBabyDetails-textarea4">
        <span class="input-label">Birth time</span><textarea placeholder=""></textarea></label>
      <a ui-sref="eCEBListOfBabies()" id="eCEBAddBabyDetails-button12" class="button button-positive button-block">Create Baby</a>
    </form>
  </ion-content>
</ion-view>