<ion-view title="ECEB - baby 1" id="page11">
  <ion-content padding="true" class="has-header">
    <ion-list id="eCEBBaby1-list6">
      <ion-item id="eCEBBaby1-list-item7">Baby 1
        <span class="item-note">13:30 (mins after birth)</span>
      </ion-item>
    </ion-list>
    <h2 id="eCEBBaby1-heading1" style="color:#000000;text-align:center;">0 to 60 minutes after birth</h2>
    <form id="eCEBBaby1-form6" class="list">
      <ion-checkbox id="eCEBBaby1-checkbox1">Skin-to-skin care</ion-checkbox>
      <ion-checkbox id="eCEBBaby1-checkbox2">Breathing monitored</ion-checkbox>
      <a ui-sref="eCEBBaby12()" id="eCEBBaby1-button13" class="button button-positive button-block">Next</a>
      <button id="eCEBBaby1-button14" class="button button-positive button-block">Caution</button>
    </form>
  </ion-content>
</ion-view>