<ion-view title="ECEB - Baby 1" id="page12">
  <ion-content padding="true" class="has-header">
    <ion-list id="eCEBBaby12-list8">
      <ion-item id="eCEBBaby12-list-item14">Baby 1
        <span class="item-note">72:20 (mins after birth)</span>
      </ion-item>
      <ion-checkbox id="eCEBBaby12-checkbox3">Initiate breast feeding</ion-checkbox>
      <ion-checkbox id="eCEBBaby12-checkbox4">Preventive care</ion-checkbox>
      <ion-checkbox id="eCEBBaby12-checkbox5">Eye care</ion-checkbox>
      <ion-checkbox id="eCEBBaby12-checkbox6">Cord care</ion-checkbox>
      <ion-checkbox id="eCEBBaby12-checkbox7">Vitamin K</ion-checkbox>
      <ion-item id="eCEBBaby12-list-item9">Preventive care
        <span class="item-note">Eye care, Cord care, Vitamin K given</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>