<ion-view title="ECEB - List of Babies" id="page9">
  <ion-content padding="true" class="has-header">
    <a ui-sref="eCEBAddBabyDetails()" id="eCEBListOfBabies-button11" class="button button-positive button-block">Add Baby</a>
    <ion-list id="eCEBListOfBabies-list5">
      <ion-item id="eCEBListOfBabies-list-item4" ui-sref="eCEBBaby1()">Baby 1
        <span class="item-note">Bed no, Mother name, Child no &amp; Time</span>
      </ion-item>
      <ion-item id="eCEBListOfBabies-list-item5">Baby 2
        <span class="item-note">Bed no, Mother name, Child no &amp; Time</span>
      </ion-item>
      <ion-item id="eCEBListOfBabies-list-item6">Baby 3
        <span class="item-note">Bed no, Mother name, Child no &amp; Time</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>