<ion-view title="ECEB - Signup" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="eCEBSignup-form4" class="list">
      <ion-list id="eCEBSignup-list4">
        <label class="item item-input" id="eCEBSignup-input8">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="eCEBSignup-input9">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="eCEBSignup-input10">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="eCEBListOfBabies()" id="eCEBSignup-button10" class="button button-stable button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>